<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
  <div>{{>header}}</div>

    <div class="alert alert-primary text-center mt-5 fs-2" role="alert">
   {{title}}
</div>
    <div class="alert alert-success text-center mt-5 fs-2" role="alert">
  {{desc}}
</div>
 
   <script src="css/bootstrap.bundle.min.js"></script>
</body>
</html>